header {
  color: @font-color;
  height: 10em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dashed @navigation-border;

  @media (max-width: 500px) {
  .phone-query(column, space-between, center);

  }// end query
}

.logo {
  width: 45%;

  h1 {
    text-align: center;
  }

  // end h1
}

// end logo

.home {

  .first-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
      width: @width;
      margin: 0.7em auto;
      }// end query

    h2 {
      margin-top: 0.7em;
      margin-bottom: 0.4em;
      padding: 1%;

      @media (max-width: 500px) {
        margin: 1.2em auto 0.6em auto;
        }// end query
    }

    p {
      margin-bottom: 0.7em;
      padding: 1%;
    }

    img {
      width: 100%;
      border-radius: 2px;
    }

    // end img

  }

  // end first-section

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 500px) {
      .phone-query(column, space-around, center);
      width: @width;
      margin: @margin;
      margin-bottom: 1.5em;
      }// end query


    .text-content {
      width: 48%;
      padding-right: 1%;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query

      img {
        border-radius: 10px;
      }

      // end img
    }

    // end img-content
  }

  // end content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
      .phone-query(column-reverse, center, center);
      }// end query

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media (max-width: 500px) {
        margin: .8em;
        }// end query

    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  // end inverse-content

  .content-destination {
    width: 75%;
    margin: 0 auto 3em;

    img {
      border-radius: 1em;
    }
  }

  // end content-destination

  .content-pick {
    padding-top: 3em;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 3em;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query

        .btn {
          .my-button();

          @media (max-width: 500px) {
            margin:@margin;
            margin-bottom: 1.3em;
            }// end query
        }
    }

    @media (max-width: 500px) {
      .phone-query(column, center, center);
      }// end query

  }

  // end content-pick
}
// home

//modal

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  -webkit-transition: .15s ease-in-out;
     -moz-transition: .15s ease-in-out;
      -ms-transition: .15s ease-in-out;
       -o-transition: .15s ease-in-out;
          transition: .15s ease-in-out;

background: rgba(0,0,0,.6);
visibility: hidden;
transition: .20s ease-in-out;
opacity: 0;
z-index: 5;
}

.modal-overlay.is-open {
visibility: visible;
opacity: 1;
}

.modal {
visibility: hidden;
position: absolute;
left: 50%;
right: 0;
top: 50%;
z-index: 10;
-webkit-transform: translate(-50% , -50%);
transform: translate(-50%, -50%);
padding: 3em;
border-radius: 	12px;
background-color: @navigation-border;
text-align: center;
max-width: 40%;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
transition: .20s ease-in-out;
opacity: 0;
}

.modal.is-open {
visibility: visible;
opacity: 1;
}

.modal__close {
position: absolute;
right: 0;
top: 0;
background: @navigation-border;
border: none;
border-radius: 50%;
width: 32px;
height: 32px;
line-height: 3em;
line-height: 0.7em;
cursor: pointer;
margin: -0.7em -0.7em 0 0;
}

.modal-btn {
  background-color: @button-bg;
  padding: 14px 20px;
  color: @sandy-beach;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: .15s ease-in-out;
}

.modal-btn:active {
background-color: @white;
color: @shark;
}
