header {
  color: @font-color;
  height: 10em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px dashed @navigation-border;

  @media (max-width: 500px) {
  .phone-query(column, space-between, center);

  }// end query
}

.logo {
  width: 45%;

  h1 {
    text-align: center;
  }

  // end h1
}

// end logo

.home {

  .first-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
      width: @width;
      margin: 0.7em auto;
      }// end query
  }

    h2 {
      margin-top: 0.7em;
      margin-bottom: 0.4em;
      padding: 1%;

      @media (max-width: 500px) {
        margin: 1.2em auto 0.6em auto;
        }// end query
    }
    }

    p {
      margin-bottom: 0.7em;
      padding: 1%;
    }

    img {
      width: 100%;
      border-radius: 2px;
    }

    // end img



  }

  // end first-section

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 500px) {
      .phone-query(column, space-around, center);
      width: @width;
      margin: @margin;
      margin-bottom: 1.5em;
      }// end query


    .text-content {
      width: 48%;
      padding-right: 1%;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query

      img {
        border-radius: 10px;
      }

      // end img
    }

    // end img-content
  }

  // end content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
      .phone-query(column-reverse, center, center);
      }// end query

    .text-content {
      padding-left: 1%;
      padding-right: 0;

      @media (max-width: 500px) {
        margin: .8em;
        }// end query

    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  // end inverse-content

  .content-destination {
    width: 75%;
    margin: 0 auto 3em;

    img {
      border-radius: 1em;
    }
  }

  // end content-destination

  .content-pick {
    padding-top: 3em;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 3em;

      @media (max-width: 500px) {
        width: @width;
        margin: @margin;
        }// end query

        .btn {
          .my-button();

          @media (max-width: 500px) {
            margin:@margin;
            margin-bottom: 1.3em;
            }// end query
        }
    }

    @media (max-width: 500px) {
      .phone-query(column, center, center);
      }// end query

  }

  // end content-pick
}

// home
