// Navigation Styles here

nav {
    width: 54%;
    display: flex;
    .flex-query(row, space-around, center);

    @media (max-width: 750px) {
        width: @view-width;
        font-size: 1.4em;
        justify-content: space-between;
        }// end query

    @media (max-width: 500px) {
        width: 100%;
        font-size: 1.4em;
        justify-content: space-between;
        }// end query

    ul {
        width: 50%;
        display: flex;
        justify-content: space-around;

        @media (max-width: 500px) {
            width: @view-width;
            justify-content:space-between;
            }// end query


        li {
            margin: 0 1em;
            width: 20%;

            a {
                font-size: 1.3em;
                text-align: center;
                width: 100%
            }

            // end a

            @media (max-width: 500px) {
                margin: @default-margin;
                width: 25%;
                font-size: 1.4em;
                justify-content: space-between;
                }// end query
            }// end li
        }// end ul
    }// end nav
