// Navigation Styles here

nav {
    width: 75%;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 750px) {
        width: 90%;
        margin: 0 auto;
        font-size: 1.4em;
        flex-direction: column;
        justify-content: space-between;
        }// end query

    @media (max-width: 500px) {
        width: 100%;
        font-size: 1.3em;
        flex-direction: column;
        justify-content: space-evenly;
        }// end query

    ul {
        width: inherit;
        display: flex;
        justify-content: space-around;


        @media (max-width: 500px) {
            width: 100%;
            justify-content: space-between;
            }// end query


        li {
            margin: 0 1em;
            width: 25%;

            a {
                font-size: 1.3em;
                text-align: center;
                width: 100%;
                color: #212529;

                @media (max-width: 750px) {
                    font-size: 1.4em;
                }

                &:hover {
                    color: #ff7f50;
                }


            }

            // end a

            @media (max-width: 500px) {
                margin: 0 auto;
                width: 25%;
                font-size: 1.4em;
                justify-content: space-between;
                }// end query
            }// end li
        }// end ul
    }// end nav
