// Navigation Styles here

nav {
    width: 54%;
    display: flex;
    justify-content: center;

    ul {
        width: 50%;
        display: flex;
        justify-content: space-around;

        li {
            margin: 0 1em;

            a {
                font-size: 1.3em;
                text-align: center;
            }

            // end a
        }

        // end li
    }

    // end ul
}

// end nav
