
// Color assignments
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@text-hover: #1e2e1f;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// others
@default-margin: 0 auto;
@view-width: 90%;
@radius-two: 2.7em;
